@import './estilos/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente);
  background-color: var(--crema);
  color: var(--azul);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--fuente);
  cursor: pointer;
  border: none;
}